# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Model files
*.h5
*.pth
*.pt
*.ckpt

# Dataset folders
dataset/
data/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Log files
*.log